
<!-- <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
<div class="w3-col m12">

<span class="w3-right w3-opacity">16 min</span>
<h4>Jane Doe</h4><br>
<hr class="w3-clear">
<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p> -->
<p>{{feedItemDescription}}</p>
<div class="w3-col m12" id = "photo">
<img [src]= imgURL  style='height:50%; width: 50%; min-width: 300px; object-fit: contain; align-items: center'>
</div>
<br><br>
<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
<button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
</div>