<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif
  }
</style>

<body class="w3-theme-l5">

  <!-- Navbar -->
  <div class="w3-top">
      <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
          href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
            class="fa fa-home w3-margin-right"></i>Logo</a>
        <a (click)="first()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Home"><i
            class="fa fa-globe"></i></a>
        <a (click)="organ()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
          title="Organ Donations"><i class="fa fa-user"></i></a>
        <a (click)="blood()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Blood Donation"><i
            class="fa fa-envelope"></i></a>
            <a (click)="fund()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Fund raisings"><i
              class="fa fa-bell"></i></a>
        
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
          title="My Account">
          <!-- <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"> -->
        </a>
      </div>
    </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
  </div>

  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:50px">
    <div class="w3-row">
      <!-- Left Column --><br>
      <div class="w3-col m2   ">
        <div class=" w3-white">
          <ul class=" w3-container w3-left w3-white w3-border w3-shadow">
              <br>
            <a class="w3-xlarge w3-padding-16">Menu</a><br><hr>
            <a href="#" class="w3-bar-item w3-button w3-padding-8">Blood Donation</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-8">Fund Raising</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-8">What organs can you <br>donate?</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-8">What are the two types<br> of organ donation?</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-16">Who pays when you <br>donate an organ?</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-16">What are the benefits <br>of organ donation?</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-16">Do organ donors feel<br> pain?</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-16">What are the risks of<br> organ donation?</a><br>
          </ul>
        </div>
        
      </div>


      <!-- Right Column -->
      <div class="w3-col m10">
        <div class="w3-main">

          <!-- Header -->
          <header id="portfolio">
            <a href="#"><img
                src="https://vmcdn.ca/f/files/sootoday/images/galleries/old/2015-07-08-MIPARACON_-2-23.jpg;w=960;h=640;bgcolor=000000"
                style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
            <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
            <div class="w3-container">
              <h1><b>Organ Donation</b></h1>
              <div class="w3-section w3-bottombar w3-padding-16">
                <span class="w3-margin-right">Filter:</span>
                <button class="w3-button w3-black">ALL</button>
                <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Kidney</button>
                <button class="w3-button w3-white w3-hide-small"><i
                    class="fa fa-photo w3-margin-right"></i>Eyes</button>
                <button class="w3-button w3-white w3-hide-small"><i
                    class="fa fa-map-pin w3-margin-right"></i>Liver</button>
              </div>
            </div>
          </header>

          <!-- First Photo Grid-->
          <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
              <img
                src="https://vmcdn.ca/f/files/sudbury/uploadedImages/news/localNews/2019/03/110319_gofundme-vicky-pineau4.jpg;w=960;h=640;bgcolor=000000"
                alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                  congue gravida diam non fringilla.</p>
              </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
              <img
                src="https://vmcdn.ca/f/files/sootoday/images/galleries/old/2015-07-08-MIPARACON_-2-23.jpg;w=960;h=640;bgcolor=000000.jpg"
                alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                  congue gravida diam non fringilla.</p>
              </div>
            </div>
            <div class="w3-third w3-container">
              <img
                src="https://nnimgt-a.akamaihd.net/transform/v1/crop/frm/silverstone-feed-data/e6039f53-aad9-4929-a292-5251250b5ec0.jpg/r0_0_960_640_w1200_h678_fmax.jpg"
                alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                  congue gravida diam non fringilla.</p>
              </div>
            </div>
          </div>

          <!-- Second Photo Grid-->
          <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
              <img
                src="https://images.labroots.com/content_article_profile_image_e36b6c060187086882fc5578e310adcdd80572d2_3139.jpg"
                alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                  congue gravida diam non fringilla.</p>
              </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
              <img
                src="https://i0.wp.com/www.dagupan.gov.ph/wp-content/uploads/2019/01/Eye_CheckUp_Final.jpg?fit=960%2C640&ssl=1.jpg"
                alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                  congue gravida diam non fringilla.</p>
              </div>
            </div>
            <div class="w3-third w3-container">
              <img src="https://www.hatchendeyecare.com/wp-content/uploads/2017/05/Hayley-pic-1.x16618.jpg" alt="Norway"
                style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                  congue gravida diam non fringilla.</p>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <div class="w3-center w3-padding-32">
            <div class="w3-bar">
              <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
              <a href="#" class="w3-bar-item w3-black w3-button">1</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
          </div>


          <!-- End page content -->
        </div>
      </div>



    </div>
  </div>
  <br>

  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
  </footer>

  <footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>



</body>

</html>