<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif
  }
</style>

<body class="w3-theme-l5">

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
          class="fa fa-home w3-margin-right"></i>CHARITY MINDS</a>
      <a (click)="first()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Home"><i
          class="fa fa-compass"></i></a>
      <a (click)="organ()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Organ Donations"><i class="fa fa-heart-o"></i></a>
      <a (click)="blood()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Blood Donation"><i
          class="fa fa-tint"></i></a>
          <a (click)="fund()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Fund raisings"><i
            class="fa fa-money"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
        title="My Account">
        <!-- <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"> -->
      </a>
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
  </div>

  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:50px">

    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <div class=" w3-round ">
          <div class="w3-container" style="margin-top:50px">
            <img
              src="https://www.pcom.edu/_resources/images/brand/2019-january-updates/digital-ad-explore-meaningful-ga.jpg"
              style="min-height:100%;max-width:80%" alt="Avatar">
          </div>
        </div>
      </div>
      <div class="w3-col m6">
        <div class="container">
          <form action="action_page.php">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
              <option value="srilanka">Sri Lanka</option>
              <option value="other">Other</option>
              
            </select>

            <label for="lname">Date of birth</label>
            <input type="text" id="dob" name="dob" placeholder="Date of birth..">

            <label for="bloodtype">Blood Type</label>
            <select id="bloodtype" name="bloodtype">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="AB">AB</option>
              <option value="O">O</option>
            </select>

            <label for="cardnumber">Credit Card number</label>
            <input type="text" id="cardnumber" name="cardnumber" placeholder="Credit Card number..">

            <label for="subject">Why you interest in us?</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">

          </form>
        </div>

      </div>
      <div class="w3-col m3">

      </div>
    </div>
  </div>
  <br>

  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
  </footer>

  <footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <script>
    // Accordion
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
      } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-theme-d1", "");
      }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

</body>

</html>