<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif
  }
</style>

<body class="w3-theme-l5">

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>CHARITY
        MINDS</a>

      <a (click)="first()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Home"><i
          class="fa fa-compass"></i></a>
      <a (click)="organDoners()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Organ Donations"><i class="fa fa-heart-o"></i></a>
      <a (click)="bloodDoners()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Blood Donation"><i class="fa fa-tint"></i></a>
      <a (click)="fundRaising()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Fund raisings"><i class="fa fa-money"></i></a>

      <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
        title="My Account"> -->
      <!-- <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"> -->
      <!-- </a> -->
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
  </div>

  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:50px">
    <!-- The Grid -->
    <div class="w3-panel">
      <h1><b>CHARITY MINDS</b></h1>
      <h5>No one is useless in this world who lightens the burdens of another.</h5>
    </div>


    <div class="w3-container">
      <div class="w3-row ">
        <div class="w3-col m8">
          <slideshow [height]="height" [minHeight]="'509px'" [autoPlay]="true" [showArrows]="true"
            [imageUrls]=imageSources [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true"
            [showDots]="true">
          </slideshow>
        </div>

        <div class="w3-col m4 ">
          <!-- Login -->
          <div class="w3-row w3-container login-container">
            <div class="w3-center "><br>
              <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Login</span>
            </div><br><br>
            <form action="/action_page.php">

              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="psw" required>

                <button type="submit" (click)=login(uname.value,psw.value) class="btn">Login</button>
                <button type="signup" class="btn" (click)=signUp()>Sign UP</button><br>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div><br>

              <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn btn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid -->
    <div class="w3-row w3-container">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Can Do For You</span>
      </div>
      <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h3>Organ Doners</h3>
        <p>Many organs can be donated. Donations include the liver, kidney and pancreas</p>
      </div>

      <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
        <h3>Blood Doners</h3>
        <p>Giving blood saves lives. But it's always in high demand. </p>
      </div>

      <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
        <h3>Consultation</h3>
        <p>Have a understanding about organ and blood donations </p>
      </div>

      <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
        <h3>Fund Raising</h3>
        <p>In case of emergency and you need money, here is the best plce</p>
      </div>
    </div>


    <!-- Grid -->
    <div class="w3-row-padding" id="plans">
      <div class="w3-center w3-padding-64">
        <h3><span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span></h3>
        <!-- <br>
        <p>Choose a pricing plan that fits your needs.</p> -->
      </div>


      <div class="w3-third w3-margin-bottom ">
        <ul class="w3-ul w3-border w3-center w3-hover-shadow">
          <li class="w3-black w3-xlarge w3-padding-32">Organ Doners</li>
          <li class="w3-padding-16">What organs can you donate?</li>
          <li class="w3-padding-16">What are the two types of organ donation?</li>
          <li class="w3-padding-16">Who pays when you donate an organ?</li>
          <li class="w3-padding-16">Do organ donors feel pain?</li>
          <li class="w3-padding-16">What are the risks of organ donation? Support</li>

          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-green w3-padding-large" (click)="organDoners()">Donate</button>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-center w3-hover-shadow">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Blood Doners</li>
          <li class="w3-padding-16"> <a href="#">How can you donate blood?</a></li>
          <li class="w3-padding-16">Who pays when you donate blood?</li>
          <li class="w3-padding-16">What are the benefits of blood donation?</li>
          <li class="w3-padding-16">Do blood donors feel pain?</li>
          <li class="w3-padding-16">What are the risks of blood donation?</li>


          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-green w3-padding-large" (click)="bloodDoners()">Donate</button>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-center w3-hover-shadow">
          <li class="w3-black w3-xlarge w3-padding-32">Fund Raising</li>
          <li class="w3-padding-16"><a href="#">What things you can donate?</a></li>
          <li class="w3-padding-16"><a href="#">What are the donation events near you?</a></li>
          <li class="w3-padding-16">Who will be benifited by you donations?</li>
          <li class="w3-padding-16">Workshops near you</li>
          <li class="w3-padding-16">Satisfaction you gain through donations</li>


          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-green w3-padding-large" (click)="fundRaising()">Donate</button>
          </li>
        </ul>
      </div>
    </div>

    <!-- Grid -->
    <div class="w3-row-padding" id="about">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
      </div>

      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="https://therobertmellostudio.com/content/wp-content/uploads/Wingate-Headshot-1.jpg" alt="John"
            style="width:100%">
          <div class="w3-container">
            <h3>John Doe</h3>
            <p class="w3-opacity">CEO & Founder</p>
            <p>Sotware Engineer at ABC company pvt Lmted</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="https://petapixel.com/assets/uploads/2018/10/105mm-headshot-800x534.jpg" alt="Mike"
            style="width:100%">
          <div class="w3-container">
            <h3>Sonali Niwarthana</h3>
            <p class="w3-opacity">Student</p>
            <p>Undergraduate from University of Moratuwa </p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="https://matthewlaifer.com/wp-content/uploads/2019/04/Natalie-Burlutskaya_reartiste-1.jpg" alt="Jane"
            style="width:100%">
          <div class="w3-container">
            <h3>Jane Doe</h3>
            <p class="w3-opacity">Medical Doctor</p>
            <p>Currently working in District hospital, Colombo</p>
            <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->
    <div class="w3-center w3-padding-64" id="contact">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
    </div>

    <form class="w3-container" action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Subject</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-black">Send</button>
    </form>

    <!-- End Page Container -->
  </div>
  <br>

  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5 style="margin-left: 50%;margin-right: 20% ;font-size: 15px;">This is an engaging platform for getting something done when you are in urgent condition, As you have have
      posted here, it will be displayed across the web. Clients can also get consulting from this site. Peace
      and Love.</h5>
  </footer>

  <footer class="w3-container w3-theme-d5">
    <p>© Fonticons, Inc.</p>
  </footer>
  <script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demodots");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length };
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " w3-white";
    }
  </script>

</body>

</html>