<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif
  }
</style>

<body class="w3-theme-l5">

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
        <i class="fa fa-home w3-margin-right"></i>CHARITY MINDS</a>

      <a (click)="first()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Home"><i
          class="fa fa-compass"></i></a>
      <a (click)="organ()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Organ Donations"><i class="fa fa-heart-o"></i></a>
      <a (click)="blood()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Blood Donation"><i class="fa fa-tint"></i></a>
      <a (click)="fund()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Fund raising"><i class="fa fa-money"></i></a>
        <a (click)="happyStories()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Happy Stories"><i class="fa fa-smile-o"></i></a>
        <a (click)="events()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Events"><i class="fa fa-calendar"></i></a>

    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
  </div>

  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:50px">
    <div class="w3-row">
      <!-- Left Column --><br>
      <!-- <div class="w3-col m2   ">
        <div class=" w3-white">
          <ul class=" w3-container w3-left w3-white w3-border w3-shadow">
            <br>
            <a class="w3-xlarge w3-padding-16">Menu</a><br>
            <hr>
            <a href="#" class="w3-bar-item w3-button w3-padding-8">Organ Donation</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-8">Fund Raising</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-8">Blood types</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-8">How can you donate<br> blood?</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-16">Who pays when you <br>donate blood?</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-16">What are the benefits <br>of blood donation?</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-16">Do blood donors feel<br> pain?</a><br>
            <a href="#" class="w3-bar-item w3-button w3-padding-16">What are the risks of<br> blood donation?</a><br>
          </ul>
        </div>

      </div> -->


      <!-- Right Column -->
      <!-- ------------- -->

      <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
          <img src="https://cdn5.f-cdn.com/contestentries/954945/13765027/58a7963732b62_thumb900.jpg" alt="Mike"
          style="width:100%">
      </div>
      <br>
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
          <img src="https://s.talentrack.in/uploads/acc_img/34/725/optim_34725_5ba9586014134.jpg" alt="Mike"
          style="width:100%">
      </div>
      <br><div class="w3-card w3-round w3-white w3-padding-16 w3-center">
          <img src="https://5.imimg.com/data5/KO/BT/MY-18733658/iodex-balm-500x500.png" alt="Mike"
          style="width:100%">
      </div>
      <br><div class="w3-card w3-round w3-white w3-padding-16 w3-center">
          <img src="https://pbs.twimg.com/media/C-vn5YWXoAUdOnD.jpg" alt="Mike"
          style="width:100%">
      </div>
      <br>
</div>

      <div class="w3-col m8">
          <h1>  `  Events :)</h1>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <div class="w3-col m12">

            <div class="w3-col m3" id="photo">
              <img
                src="https://cbsphilly.files.wordpress.com/2017/03/charityeventfeat_photo_credit_sydaproductions_shutterstock.jpg?w=640"
                style='height:80%; width: 80%; min-width: 200px; object-fit: contain; align-items: center'>
                <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
              <br>
              </div>
            <div class="w3-col m9" id="photo">
              <h5><b>Beach Cleaning</b></h5>
            <p>Not sure how to say thank you? There are so many people who help you during a job search and at many times during your career. Read advice on whom to thank and how to say thank you, including tips for writing thank-you letters and sample letters. </p>
          </div>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">Share in facebook</button>
            <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
          </div>
          <br>
        </div>
        <br>

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <div class="w3-col m12">

            <div class="w3-col m3" id="photo">
              <img
                src="https://i.kinja-img.com/gawker-media/image/upload/s--Tg_qqR3r--/c_scale,f_auto,fl_progressive,q_80,w_800/dnmtn4ksijwyep0xmljk.jpg"
                style='height:80%; width: 80%; min-width: 200px; object-fit: contain; align-items: center'>
                <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
              <br>
              </div>
            <div class="w3-col m9" id="photo">
                <h5><b>Blood Donation Camp</b></h5>

            <p>Not sure how to say thank you? There are so many people who help you during a job search and at many times during your career. Read advice on whom to thank and how to say thank you, including tips for writing thank-you letters and sample letters. </p>
          </div>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">Share in facebook</button>
            <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
          </div>
          <br>
        </div>
        <br>

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <div class="w3-col m12">

            <div class="w3-col m3" id="photo">
              <img
                src="https://i.kinja-img.com/gawker-media/image/upload/s--Tg_qqR3r--/c_scale,f_auto,fl_progressive,q_80,w_800/dnmtn4ksijwyep0xmljk.jpg"
                style='height:80%; width: 80%; min-width: 200px; object-fit: contain; align-items: center'>
                <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
              <br>
              </div>
            <div class="w3-col m9" id="photo">
                <h5><b>Health Workshop</b></h5>

            <p>Not sure how to say thank you? There are so many people who help you during a job search and at many times during your career. Read advice on whom to thank and how to say thank you, including tips for writing thank-you letters and sample letters. </p>
          </div>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">Share in facebook</button>
            <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
          </div>
          <br>
        </div>
        <br>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <div class="w3-col m12">

            <div class="w3-col m3" id="photo">
              <img
                src="https://i.kinja-img.com/gawker-media/image/upload/s--Tg_qqR3r--/c_scale,f_auto,fl_progressive,q_80,w_800/dnmtn4ksijwyep0xmljk.jpg"
                style='height:80%; width: 80%; min-width: 200px; object-fit: contain; align-items: center'>
                <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
              <br>
              </div>
            <div class="w3-col m9" id="photo">
                <h5><b>Dengue Awareness Program</b></h5>

            <p>Not sure how to say thank you? There are so many people who help you during a job search and at many times during your career. Read advice on whom to thank and how to say thank you, including tips for writing thank-you letters and sample letters. </p>
          </div>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">Share in facebook</button>
            <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
          </div>
          <br>
        </div>
        <br>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <div class="w3-col m12">

            <div class="w3-col m3" id="photo">
              <img
                src="https://i.kinja-img.com/gawker-media/image/upload/s--Tg_qqR3r--/c_scale,f_auto,fl_progressive,q_80,w_800/dnmtn4ksijwyep0xmljk.jpg"
                style='height:80%; width: 80%; min-width: 200px; object-fit: contain; align-items: center'>
                <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
              <br>
              </div>
            <div class="w3-col m9" id="photo">
                <h5><b>Collecting Donations for a School Repair</b></h5>

            <p>Not sure how to say thank you? There are so many people who help you during a job search and at many times during your career. Read advice on whom to thank and how to say thank you, including tips for writing thank-you letters and sample letters. </p>
          </div>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">Share in facebook</button>
            <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"></button> -->
          </div>
          <br>
        </div>
        <br>
      </div>

      <div class="w3-col m2">
          <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
              <img src="https://cdn5.f-cdn.com/contestentries/954945/13765027/58a7963732b62_thumb900.jpg" alt="Mike"
              style="width:100%">
          </div>
          <br>
          <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
              <img src="https://s.talentrack.in/uploads/acc_img/34/725/optim_34725_5ba9586014134.jpg" alt="Mike"
              style="width:100%">
          </div>
          <br><div class="w3-card w3-round w3-white w3-padding-16 w3-center">
              <img src="https://5.imimg.com/data5/KO/BT/MY-18733658/iodex-balm-500x500.png" alt="Mike"
              style="width:100%">
          </div>
          <br><div class="w3-card w3-round w3-white w3-padding-16 w3-center">
              <img src="https://pbs.twimg.com/media/C-vn5YWXoAUdOnD.jpg" alt="Mike"
              style="width:100%">
          </div>
          <br>
    </div>
      <!-- End Middle Column -->
      <!-- ---------------- -->
    </div>
  </div>
  <br>
  <!-- Pagination -->
  <div class="w3-center w3-padding-64">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
  </footer>

  <footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>



</body>

</html>